# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.classpath
.factorypath
*.iml
.vscode
.project
.settings/
target/
out
gen
app.jar
